@{
    Layout = "_Layout";
    ViewData["title"] = "Моите Инвестиции";
}
@model IEnumerable<InvestmentVM>

<div class="single-table d-none d-md-block">
    <div class="table-responsive">
        <table class="table text-center">
            <thead class="text-uppercase bg-info">
                <tr class="text-white">
                    <th scope="col">#</th>
                    <th scope="col">Име</th>
                    <th scope="col">Сума</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Действие</th>
                </tr>
            </thead>
            <tbody>
                @{ var counter = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@counter</th>
                        <td>@item.Name</td>
                        <td class="">@item.Amount лв.</td>
                        <td>@Html.DisplayFor(x => item.Type)</td>
                        <td>
                            <a asp-action="Edit" asp-route-investmentId="@item.Id" class=""><i class="ti-pencil-alt"></i> Обнови</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                            <a asp-action="Delete" asp-route-investmentId="@item.Id" class=""><i class="ti-trash"></i> Изтрий</a>
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>

<br />
@foreach (var item in Model)
{
    <div class="d-block d-md-none d-lg-none d-xl-none d-xs-block">
        <div class="card">
            <div class="body bg-blue-grey">
                <p>Име: <span class="pull-right">@item.Name лв.</span></p>
                <p class="text-success">Сума: <span class="pull-right">@item.Amount лв.</span></p>
                <p>Тип: <span class="pull-right">@Html.DisplayFor(x => item.Type)</span></p>
                <p>
                    <a asp-action="Edit" asp-route-investmentId="@item.Id" class=""><i class="ti-pencil-alt"></i> Обнови</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    <a asp-action="Delete" asp-route-investmentId="@item.Id" class=""><i class="ti-trash"></i> Изтрий</a>
                </p>
            </div>
        </div>
    </div>
    <br />
}